
<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is home page </title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
<div class="text-center">

 <img alt="lock-image" style="height: 250px; width: 230px; overflow: hidden;" th:src="@{/img/phone.png}">

<h1 class="save-text font-weight-bold">Save your new contact</h1>
<a th:href="@{/user/index}"><button type="button" class="btn btn-outline-dark">Let's Start</button></a>
</div>
	</section>


</body>
</html>